<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Blogs
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
	<div class="col-12 col-lg-12 section-heading">
		<h1>Blogs</h1>
	</div>
    <div class="row mt-2">
        {% for article in articles %}
        <!-- 文章内容 -->
		<!-- 卡片容器 --> 
		
        <div class="col-6 mb-4">
			<div class="card h-100" style="border-color: #ffffff;" >
				<!-- <img src="..." class="card-img" alt="..."> -->
				<div class="card-body" style="background-color: #688c27; border-radius:30px">
				  <h5 class="card-title" style="color: #ffffff;">{{ article.title }}</h5>
				  <p class="card-text" style="color: #f2d3ad;">{{ article.body|slice:'100' }}...</p>
				  <a href="{% url 'article:article_detail' article.id %}" class="btn btn-dark" style="background-color: #ff661a; border-color:#ff661a">Read More</a>
				</div>
			</div>
			
         
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}
<!-- <div class="card h-100">
	标题
	<h4 class="card-header bg-dark">{{ article.title }}</h4>
	摘要
	<div class="card-body">
		<p class="card-text">{{ article.body|slice:'100' }}...</p>
	</div>
	注脚
	<div class="card-footer">
		<a href="#" class="btn btn-primary">阅读本文</a>
		<a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">Read More</a>
	</div>
</div>